/**                                                                                 
                                         &%              &&                                         
                                         &&&           &&&&                                         
                                        &&&&& /        &&&&                                         
                                          &&&&  &&&&@*&&&&                                          
                                         @&&&&&&&&&&&&&&&&                                          
                                        &&&&&&&&&&&&&&&&&&&&                                        
                                      &&&&&  &&&&&&&&  &&&&&&&                                      
                                     &&&&&&&&&&&&&&&&&&&&&&&&&&                                     
                                    &&&&&&&&&&&&&&&&&&&&&&&&&&&&                                    
                                   &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&      .&&    &&                    
                                  &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*    &&&&  &&&&                    
                                 &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&     @&&&&&&                      
                             /   &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&    &&&&&&&&&                     
                          &, && ,&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& .&&&&&&&&&&&                    
                         @&&&&& *&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& &&&&&&&&&&&&&                   
                         &&&&&&@ &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& &&&&&&&&&&&&&                   
                   *%&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&                  
  ,&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&,  
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
*/

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Playfair+Display&display=swap');
/**
font-family: 'Josefin Sans', sans-serif;
font-family: 'Playfair Display', serif;*/

body {
  background-color: black;
  color: #ffffff;
  font-family: 'Playfair Display', serif;
}
#splash {
  h1 {
    font-family: 'Playfair Display', serif;
    font-size: 6vw;
    margin: 0;
    position: relative;
    font-weight: normal;
  }
  .subtitle {
    font-family: 'Josefin Sans', serif;
    font-size: 1.45rem;
    padding: 1rem 0;
    letter-spacing: 2px;
    text-indent: 2px;
  }
}