main {
    h1 {
        background-color: none;
        box-shadow: none;
        width: 100%;
        text-align: center;
    }
    .subtitle {
        opacity: 0;
        transition: opacity 1s;  
    }
}
.scroll-01 {
    .subtitle {
        opacity: 1;
    }
}
.scroll-02 {
    .subtitle {
        opacity: 0;
    }
}
.scroll-03 {
    .subtitle {
        opacity: 0;
    }
    h1 {
        background-color: #fff;
        box-shadow: 0 34px 31px #fff;
        width: 100%;
        text-align: center;
    }
}
@media screen and ( max-width: 700px ){
    
    .scroll-03 {
        .title {
            margin-bottom: 70px;
            h1 {
                height: 50px;
                top: 0px;
                padding-top: 10px;
                position: absolute;
                box-shadow: 0 10px 9px #fff;
            }
        }
        
    }
}