.content {
    .title {
        display: grid;
        grid-template-rows: 5vh 10vh;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        justify-items: center;
        h1 {
            font-family: 'Playfair Display', serif;
            font-size: 9vh;
            margin: 0;
            font-weight: normal;
            z-index: 1;
        }
        .subtitle {
            font-family: "Josefin Sans", serif;
            font-size: 1.8vh;
            letter-spacing: 0px;
            text-indent: 0px;
            padding: 0 5%;
            text-shadow: 1px 1px 2px #000000;
            align-self: start;
            color: #fff;
            text-align: justify;
        }
        @media screen and ( max-width: 1000px ){
            & {
                grid-template-rows: 5vh 1vh;
                h1 {
                    font-size: 4vh;
                }
                .subtitle {
                    display:none;
                }
            }
        }
        @media screen and ( max-width: 700px ){
            & {
                grid-template-rows: 5vh 1vh;
                h1 {
                    font-size: 6vw;
                }
                .title {
                    justify-items: start;
                }
                .subtitle {
                    display:none;
                }
            }
        }
    }
    @media screen and ( max-width: 700px ){
        min-width: auto;
    }
}